In [2]:
import pandas as pd

In [3]:
movies = pd.read_csv("data/netflix-rotten-tomatoes-metacritic-imdb.csv")

In [4]:
print(movies)

                                           Title  \
0                               Lets Fight Ghost
1                            HOW TO BUILD A GIRL
2                                     Centigrade
3                                          ANNE+
4                                          Moxie
...                                          ...
15475                     K-POP Extreme Survival
15476            DreamWorks Shreks Swamp Stories
15477  DreamWorks Happy Holidays from Madagascar
15478                DreamWorks Holiday Classics
15479   DreamWorks Kung Fu Panda Awesome Secrets

                                        Genre  \
0      Crime, Drama, Fantasy, Horror, Romance
1                                      Comedy
2                             Drama, Thriller
3                                       Drama
4                     Animation, Short, Drama
...                                       ...
15475                                     NaN
15476                                     NaN
15477               Animation, Comedy, Family
15478               Animation, Comedy, Family
15479       Animation, Action, Comedy, Family

                                                    Tags         Languages  \
0      Comedy Programmes,Romantic TV Comedies,Horror ...  Swedish, Spanish
1           Dramas,Comedies,Films Based on Books,British           English
2                                              Thrillers           English
3            TV Dramas,Romantic TV Dramas,Dutch TV Shows           Turkish
4      Social Issue Dramas,Teen Movies,Dramas,Comedie...           English
...                                                  ...               ...
15475  TV Dramas,TV Programmes,TV Comedies,Romantic T...               NaN
15476  Animal Tales,Family Comedies,Family Adventures...               NaN
15477  TV Comedies,Kids TV,Animal Tales,TV Cartoons,T...           English
15478  TV Comedies,Kids TV,TV Cartoons,TV Programmes,...           English
15479  TV Comedies,Kids TV,Animal Tales,TV Cartoons,T...           English

      Series or Movie  Hidden Gem Score  \
0              Series               4.3
1               Movie               7.0
2               Movie               6.4
3              Series               7.7
4               Movie               8.1
...               ...               ...
15475          Series               NaN
15476          Series               NaN
15477          Series               8.4
15478          Series               8.2
15479          Series               8.1

                                    Country Availability       Runtime  \
0                                               Thailand  < 30 minutes
1                                                 Canada      1-2 hour
2                                                 Canada      1-2 hour
3                                    Belgium,Netherlands  < 30 minutes
4      Lithuania,Poland,France,Iceland,Italy,Spain,Gr...      1-2 hour
...                                                  ...           ...
15475  South Korea,Argentina,United Kingdom,Australia...  < 30 minutes
15476  Russia,Hong Kong,Hungary,Australia,South Korea...  < 30 minutes
15477  Belgium,Switzerland,United States,Germany,Unit...  < 30 minutes
15478  Belgium,Switzerland,Germany,Argentina,United K...  < 30 minutes
15479  Belgium,Switzerland,Germany,United Kingdom,Fra...  < 30 minutes

              Director                      Writer  ... Netflix Release Date  \
0      Tomas Alfredson       John Ajvide Lindqvist  ...           2021-03-04
1        Coky Giedroyc               Caitlin Moran  ...           2021-03-04
2        Brendan Walsh  Brendan Walsh, Daley Nixon  ...           2021-03-04
3                  NaN                         NaN  ...           2021-03-04
4        Stephen Irwin                         NaN  ...           2021-03-04
...                ...                         ...  ...                  ...
15475              NaN                         NaN  ...           2015-04-14
15476              NaN                         NaN  ...           2015-04-14
15477              NaN                         NaN  ...           2015-04-14
15478              NaN                         NaN  ...           2015-04-14
15479              NaN                         NaN  ...           2015-04-14

                             Production House  \
0                   Canal+, Sandrew Metronome
1      Film 4, Monumental Pictures, Lionsgate
2                                         NaN
3                                         NaN
4                                         NaN
...                                       ...
15475                                     NaN
15476                                     NaN
15477                                     NaN
15478                                     Fox
15479                                     NaN

                                 Netflix Link  \
0      https://www.netflix.com/watch/81415947
1      https://www.netflix.com/watch/81041267
2      https://www.netflix.com/watch/81305978
3      https://www.netflix.com/watch/81336456
4      https://www.netflix.com/watch/81078393
...                                       ...
15475  https://www.netflix.com/watch/80031595
15476  https://www.netflix.com/watch/70242630
15477  https://www.netflix.com/watch/70259784
15478  https://www.netflix.com/watch/70221348
15479  https://www.netflix.com/watch/70241791

                                  IMDb Link  \
0      https://www.imdb.com/title/tt1139797
1      https://www.imdb.com/title/tt4193072
2      https://www.imdb.com/title/tt8945942
3      https://www.imdb.com/title/tt6132758
4      https://www.imdb.com/title/tt2023611
...                                     ...
15475                                   NaN
15476                                   NaN
15477                                   NaN
15478                                   NaN
15479                                   NaN

                                                 Summary  IMDb Votes  \
0      A med student with a supernatural gift tries t...    205926.0
1      When nerdy Johanna moves to London, things get...      2838.0
2      Trapped in a frozen car during a blizzard, a p...      1720.0
3      Upon moving into a new place, a 20-something r...      1147.0
4      Inspired by her moms rebellious past and a con...        63.0
...                                                  ...         ...
15475  Seung Yeon decides to chase her dream of becom...         NaN
15476  Shrek celebrates Halloween, Puss in Boots is c...         NaN
15477  Madagascar goes wild with holiday spirit in th...        71.0
15478  Join your DreamWorks friends for these four ho...        82.0
15479  In this pair of adventures, Po tells the story...        17.0

                                                   Image  \
0      https://occ-0-4708-64.1.nflxso.net/dnm/api/v6/...
1      https://occ-0-1081-999.1.nflxso.net/dnm/api/v6...
2      https://occ-0-1081-999.1.nflxso.net/dnm/api/v6...
3      https://occ-0-1489-1490.1.nflxso.net/dnm/api/v...
4      https://occ-0-4039-1500.1.nflxso.net/dnm/api/v...
...                                                  ...
15475  https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...
15476  https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...
15477  https://occ-0-2773-2774.1.nflxso.net/dnm/api/v...
15478  https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...
15479  https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...

                                                  Poster  \
0      https://m.media-amazon.com/images/M/MV5BOWM4NT...
1      https://m.media-amazon.com/images/M/MV5BZGUyN2...
2      https://m.media-amazon.com/images/M/MV5BODM2MD...
3      https://m.media-amazon.com/images/M/MV5BNWRkMz...
4      https://m.media-amazon.com/images/M/MV5BODYyNW...
...                                                  ...
15475                                                NaN
15476                                                NaN
15477                                                NaN
15478                                                NaN
15479                                                NaN

                                      TMDb Trailer Trailer Site
0                                              NaN          NaN
1      https://www.youtube.com/watch?v=eIbcxPy4okQ      YouTube
2      https://www.youtube.com/watch?v=0RvV7TNUlkQ      YouTube
3                                              NaN          NaN
4                                              NaN          NaN
...                                            ...          ...
15475                                          NaN          NaN
15476                                          NaN          NaN
15477                                          NaN          NaN
15478                                          NaN          NaN
15479                                          NaN          NaN

[15480 rows x 29 columns]

In [5]:
movies.columns

Index(['Title', 'Genre', 'Tags', 'Languages', 'Series or Movie',
       'Hidden Gem Score', 'Country Availability', 'Runtime', 'Director',
       'Writer', 'Actors', 'View Rating', 'IMDb Score',
       'Rotten Tomatoes Score', 'Metacritic Score', 'Awards Received',
       'Awards Nominated For', 'Boxoffice', 'Release Date',
       'Netflix Release Date', 'Production House', 'Netflix Link', 'IMDb Link',
       'Summary', 'IMDb Votes', 'Image', 'Poster', 'TMDb Trailer',
       'Trailer Site'],
      dtype='object')

In [6]:
movies_clean = movies[['Title', 'Genre', 'Languages', 'Country Availability', 'IMDb Score', 'Rotten Tomatoes Score', 'Metacritic Score', 'Boxoffice', 'Release Date', 'Poster', 'Trailer Site']]

In [13]:
movies_clean.dtypes

Title                     object
Genre                     object
Languages                 object
Country Availability      object
IMDb Score               float64
Rotten Tomatoes Score    float64
Metacritic Score         float64
Boxoffice                 object
Release Date              object
Poster                    object
Trailer Site              object
dtype: object

In [18]:
movies_clean[['Title', 'Genre', 'Languages', 'Country Availability', 'Boxoffice', 'Release Date', 'Poster', 'Trailer Site']] = str(movies_clean[['Title', 'Genre', 'Languages', 'Country Availability', 'Boxoffice', 'Release Date', 'Poster', 'Trailer Site']])

In [12]:
#Create function to convert list in one cell to many rows

def explode_into_rows_in_new_table (input_df:pd.DataFrame,id_column, explode_column):

    # Create lists to store id and list of amenities
    id_list=[]
    explode_list=[]
    #iterate through each row and convert the string lists to actual lists using split function
    for index,row in input_df.iterrows():
        id_list.append(row[id_column])
        explode_list.append(row[explode_column].split(","))
    
    # Create a data frame from the id and amenities for each instance
    df2=pd.DataFrame({id_column:id_list,explode_column:explode_list})

    # Explode (split the lists into new rows)
    df2=df2.explode(explode_column)
    df2=df2.reset_index(drop=True)
    return df2

In [9]:
#Create function to clean prices, by removing dollar signs and commas
def clean_dollar(input_df, col_list):
    df=input_df.copy(deep=True)
    for col in col_list:
        df[col] = df[col].str.replace('$','')
        df[col] = df[col].str.replace(',','')
    return df

In [21]:
#Clean columns with multiple items

movies_clean_2 = explode_into_rows_in_new_table(input_df = movies_clean, id_column = "Title", explode_column = "Genre")

In [16]:
movies_clean_2

,Title,Genre
0,Lets Fight Ghost,0 Crime
1,Lets Fight Ghost,Drama
2,Lets Fight Ghost,Fantasy
3,Lets Fight Ghost,Horror
4,Lets Fight Ghost,Romance\n1 ...
...,...,...
263155,DreamWorks Kung Fu Panda Awesome Secrets,Action
263156,DreamWorks Kung Fu Panda Awesome Secrets,Comedy
263157,DreamWorks Kung Fu Panda Awesome Secrets,Family\nName: Genre
263158,DreamWorks Kung Fu Panda Awesome Secrets,Length: 15480
263159,DreamWorks Kung Fu Panda Awesome Secrets,dtype: object